body {
  color: #B9A673;
}


/* "a:" rules override defaults from all.cs for this page only */
a:link {
  color: #B9A673;
}

a:visited {
  color: #B9A673;
}
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}


svg {
  fill: #B9A673;
}

#about_profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-right: 12px;
}

#about {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

#quote {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}


@media screen and (max-width: 481px) {
  #about, #quote  {
    margin-left: 4%;
    margin-right: 4%;
  }
}
