
h1 {
  font: 40px Tahoma;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#about {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

#quote {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

#links  {
    display: flex;
    justify-content: center;
}

#links > a {
    margin: 20px;
}
