body {
  background-color: #000000;
  color: #999999;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  //font: 40px Minion;
  text-align: center;
}

#viewnote {
  display: none;
}

h1 img {
  padding: 20px;
  width: 100%;
  max-width: 700px;
}

hr {
  color: #999999;
  background-color: #999999;
  height: 2px;
  border: none;
}


a:link {
  color: #999999;
  text-decoration: none;
}
.clickable:hover {
  text-decoration: none;
  color: #FFFFFF;
}
a:visited {
  text-decoration: none;
  color: #999999;
}
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

#links  {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

#links > a {
    display: initial;
    margin: 20px;
}

.icons  {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.icons > a {
    margin-left: 10px;
    margin-right: 10px;
}
 
footer {
    text-align: center;
}

#menu {
    display: none;
}

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1; /* sit at top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
}


#overlay > a {
  display: block;
  margin: auto;
  padding-bottom: 30px;
  font-size: 1.5em;
  text-align: center;
}

.closebtn {
  padding-top: 30px;
  padding-right: 30px;
}

#overlay > .closebtn {
  text-align: right;
}
  




/* note: for some reason, after settings links display = none with javascript, 
   resizing the window doesn't revert their display
   

/* mobile in portrait mode */
@media screen and (max-width: 400px) {
  #menu {
    display: initial;
    margin: 20px;
  }

  #links a {
    display: none;
  }
}

/* mobile in landscape mode */
@media screen and (max-height: 400px) {
  #viewnote {
    display: initial;
    text-align: center;
    display: block;
    font-style: italic;
    max-width: 92%;
    max-height: 100%;
    margin-left: 4%;
    margin-right: 4%;
  }
}


