/* make sure max-width matches galMaxW  and min-height matches minImgH + padding in gallery.css */
#gallery {
  position: relative; 
  width: 100%; 
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  // just high enough for two gallery lines;
  //height: 460px;
  height: calc(95vh - 270px);
  max-height: 460px;
  overflow: hidden;
  display: block;
  min-height: 160px; 
  //justify-content: space-between;
  //display: flex;
  //flex-wrap: wrap;
}

#next {
  margin: 10px;
  margin-left: 30px;
  position: relative;
  top: 2px;
  
}
#previous {
  margin: 10px;
  margin-right: 30px;
  position: relative;
}


hr {
  max-width: 570px;
  margin: auto;
}


/* make sure that the image margin-top + margin-bottom is the same as "padding" in the 
   updateImageHeight() function in gallery.js */
#gallery > a > img {
  // not sure why, but margins dont overlap with current setup;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  height: 200px;
}


#gallery_index  {
    max-width: 530px;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile in portrait mode */
@media screen and (max-width: 481px) {
  #gallery_index {
    display: none;
  }
  #links > .menu {
    margin-top: 0;
  }
  .arrow {
    display: none;
  }
  #gallery {
    height: auto;
  }
  #gallery > a {
    display: block;
    margin-top: 0px;
  }
  #gallery > a > img {
    display: initial;
    height: auto;
    max-width: 90%;
    max-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 60px;
  }
}







