h1 {
    font: 40px Minion;
    text-align: center;
}

.slick-slide {
  height: 600px;
}

.slick-slide > img {
  margin: auto;
}


#links  {
    display: flex;
    justify-content: center;
}

#links > a {
    margin: 20px;
}





