
.myslideshow {
  height: calc(100vh - (0.14745308311 * 700px) - 60px);
  position: relative;
}

.myslide {
  height: calc(100vh - (0.14745308311 * 700px) - 60px);
  width: 100vw;
  text-align: center;
  white-space: nowrap;
  position: absolute;
}

.slidespan {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.myslide > img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.mobile_box_container {
  display: none;
}

.mobile_box {
  position: relative;
  border-style: solid;
  border-width: 3px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  border-color: #999999;
  height: calc(100vw - 40px);
  width: calc(100vw - 40px);
}

.mobile_box > img {
  width: 100%;
}
.mobile_box > div {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* mobile in portrait mode */
@media screen and (max-width: 400px) {
  .mobile_box_container {
    display: inline;
  }
}




