#portrait {
  display: block;
  margin: auto;
  padding: 20px;
  max-height: calc(100vh - 100px);
  width: auto;
}

#textDiv {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

#description {
  margin: auto;
  padding-bottom: 5px;
  text-align: center;
  font-size: 0.7em;
}

#awards {
  margin: auto;
  font-size: 0.7em;
}

/* mobile in portrait mode */
@media screen and (max-width: 481px) {
  #portrait {
    display: block;
    width: 100vw;
    height: auto;
    padding: 20px;
  }
}









