
body {
  color: #B9A673;
}

svg {
  fill: #B9A673;
}

/* "a:" rules override defaults from all.cs for this page only */
a:link {
  color: #B9A673;
}

a:visited {
  color: #B9A673;
}
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 20px;
  font-size: 18px;
}

#process {
  align: 'center';
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

#phone {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 10px;
}

#email {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 481px) {
  #process, h2  {
    margin-left: 4%;
    margin-right: 4%;
  }
}
