

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#about {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

#quote {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}


@media screen and (max-width: 400px) {
  #about, #quote  {
    margin-left: 4%;
    margin-right: 4%;
  }
}
