<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- required for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/about.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/all.css'%}">
    <title>Scott Johnston About</title>
  </head>
  <body>
    <h1> 
      <img src="{% static 'myapp/images/title.png'%}"> </img>
    </h1>
    <img src="{% static 'myapp/images/about_profile.jpg'%}"> </img>
    <div id="about"> Scott Johnston received his BFA from Art Center College of Design in Pasadena, California, 
        and has been a professional artist for over 30 years. His art hangs in numerous public and 
        private collections. He is a member of the Portrait Society of America and Oil Painters of America.
    </div>
    <div id="quote">
      <i> 
      “It is art that makes life, makes interest, makes importance, and I know 
      no substitute for the force and beauty of its process.” —Henry James </i>
    </div>
    <div id="links">
      <div id='menu'> Menu </div>
      <a href="{%url 'home'%}"> Home </a>
      <a href="{%url 'gallery'%}"> Gallery </a>
      <a href="{%url 'about'%}"> About </a>
      <a href="{%url 'pricing'%}"> Process & Fees </a>
      <a href="{%url 'contact'%}"> Contact</a>
    </div>
  <script src="{% static 'myapp/javascript/all.js'%}"></script>
  </body>
</html>
