<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- required for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/contact.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/all.css'%}">
    <title>Scott Johnston Contact</title>
  </head>
  <body>
    <h1> 
      <img src="{% static 'myapp/images/title.png'%}"> </img>
    </h1>
    <div id="phone"> 
      <b> Studio:  </b> 925-256-6700
    </div>
    <div id="email">
      <b> Email: </b> scottwjohnston@comcast.net
    </div>
    <div id="links">
      <div id='menu'> MENU </div>
      <a href="{%url 'home'%}"> HOME </a>
      <a href="{%url 'gallery'%}"> GALLERY </a>
      <a href="{%url 'about'%}"> ABOUT </a>
      <a href="{%url 'pricing'%}"> CONTACT & FEES </a>
    </div>
    <footer>
      <small>&copy; Copyright 2019, Oil Portrait Artist Scott Johnston </small>
    </footer>
  </body>
  <script src="{% static 'myapp/javascript/all.js'%}"></script>
</html>
