<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
{% load static %}
{% load mathfilters %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/gallery.css'%}"/>
    <title>Scott Johnston Portrait Gallery</title>
  </head>
  <body>
    <h1> Gallery </h1>
    <div id="gallery">
      <div id='galPage0' class='galPage'> 
        {% for portrait in portrait_list %}
          <a href={% url 'portrait' portrait.identifier %}> <img src="{{portrait.image.url}}">  </img> </a>
          {% if forloop.counter|divisibleby:portraits_per_page %}
            </div> {# end previous galPage #}
            <div id='galPage{{forloop.counter|intdiv:portraits_per_page}}' class='galPage' style='display:none'>
          {% endif %}
        {% endfor %}
      </div> {# end last galPage #}
      {# note that all galPages have display=none here. We set the visible one in the javascript file. #}
    </div>

    <div id="gallery_index">
      <div id="previous"> Previous Page </div> 
      <div id="next"> Next Page </div> 
    </div>

    <hr>

    <div id="links">
      <a href="{%url 'home'%}"> Home </a>
      <a href="{%url 'gallery'%}"> Gallery </a>
      <a href="{%url 'about'%}"> About </a>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'myapp/javascript/gallery.js'%}"></script>
</html>
