<!xml version="1.0" encoding="utf-8"?>
<!doctype html>
{% load static %}
{% load mathfilters %}
<html lang="en">
  <head>
    <!-- required for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/all.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/gallery.css'%}"/>
    <title>Scott Johnston Portrait Gallery</title>
  </head>
  <body>
    <h1> 
      <img src="{% static 'myapp/images/title.png'%}"> </img>
    </h1>
    <div id="viewnote"> For a better viewing experience, please turn phone to portrait mode, or resize browser window. </div>
    <div id="gallery">
        {% for portrait in portrait_list %}
            <a href={% url 'portrait' portrait.identifier %}> <img src="{{portrait.image.url}}" >  </img> </a>
        {% endfor %}
    </div>

    <div id="gallery_index">
      <div id="previous" class="clickable"> Previous Page </div> 
      <div id="next" class="clickable"> Next Page </div> 
    </div>

    <hr>

    <div id="links">
      <a href="{%url 'home'%}"> Home </a>
      <a href="{%url 'gallery'%}"> Gallery </a>
      <a href="{%url 'about'%}"> About </a>
      <a href="{%url 'pricing'%}"> Process & Fees </a>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'myapp/javascript/gallery.js'%}"></script>
</html>
