<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- required for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/portrait.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/all.css'%}">
    <title{{title}}></title>
  </head>
  <body>
    <img id='portrait' src="{{portrait.image.url}}"> </img>
    <div id='description'> {{portrait.description}}</div>
    <ul id='awards'> 
      {% for award in awards %}
      <li> 
        {% if award.link %} <a href={{award.link}}> {% endif %}
          {{award.description}} 
        {% if award.link %} </a> {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
